@import "_reset.scss";
@import "_var.scss";
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#ecedee
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#7ba1a5;
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:#6dabb1;
    }
    
    ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    background-color: #F5F5F5;
    }

.container{
    width: 90%;
    margin: 0 auto;
}
.page{
    display: flex;
    width: 100vw;

    &__sidebar {
        width: 5%;
        height: 100vh;
        background-color: #01134E;
        display: flex;
        flex-direction: column;
    }
    &__content{
        width: 100vw;
        height: 100vh;
        background-color: #F9FAFC;
    }
}
.sidebar{
    &__logo{
        margin: 20px auto;
        background-image: url("/src/img/logo.svg");
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}
.menu{
    &__item{
        display: block;
        position: relative;
        padding-top: 70px;
    }
    &__link{
        &:hover{
            color: white;
        }
    }
}
.ellipse{
    position: absolute;
    top: 65%;
    left: 55%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:  #2A74DB;
    display: flex;
    justify-content: center;
    align-items: center;
    &__number{
        color: #fff;
        font-size: 12px;
        font-family: $roboto;
        font-weight: bold;
    }
}
.line{
    position: absolute;
    top: 55px;
    left: -35px;
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 6%;
    background-color: #fff;
    &__menu{
        width: 10%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-left: 30px;
    }
    &__item{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
    }
}
.profile{
    display: flex;
    width: 13%;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    &__img{
        display: block;
        width: 22px;
        height: 22px;
    }
    &__name{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
    }
}
.messages{
    width: 90%;
    height: 75%;
    margin: 50px auto;
    display: flex;
    box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
    border-radius: 4px;

    &__users{
        width: 25%;
        background-color: rgb(255, 255, 255);
    }
    &__chat{
        width: 75%;
        display: flex;
        flex-direction: column;
    }
}

.list{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #EDF0F4;

    &__friend{
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
    }
}
.item{
    border-bottom: 1px solid #EDF0F4;
    position: relative;
    &__msg{
        display: flex;
        flex-direction: column;
        width: 70%;
        & h6{
            font-family: $exo2;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #01134E;
            padding-bottom: 10px;
            position: relative;
            display: inline-block;
            width: 52%;
        }
        & span{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            mix-blend-mode: normal;
            opacity: 0.43;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
    }
    &:hover{
        background-color: #F7F9FC;
        cursor: pointer;
    }
    &__online{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: rgb(117, 211, 117);
        position: absolute;
        right: 0%;
        top:0;
    }
    &__pin{
        position: absolute;
        right: 35%;
        top: 40%;
    }
}
.active{
    background-color: #F7F9FC;
    box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15);
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-around;
    background-color: #fff;
    border-bottom: 0.5px solid #EDF0F4;
    padding-left: 20px;

    &__input{
        width: 184px;
        height: 21.29px;
        border: none;
        outline: none;
        padding: 1%;
        

        &::placeholder{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.5px;
            mix-blend-mode: normal;
        }
    }
}
.dialog{
    width: 100%;
    height: 85%;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    &__message{
        margin-left: 5%;
        display: flex;
        width: 90%;
        margin-bottom: 5%;
        justify-content: flex-start;
        position: relative;
    }
    &__myMessage{
        padding-bottom: 50px;
        display: flex;
        width: 90%;
        justify-content: flex-end;
        position: relative;
    }
    &__body{
        margin-left: 50px;
        padding: 10px 15px;
        width: 40%;
        border-radius: 5px;
        position: relative;
        z-index: 2;
        background-color: #F7F9FC;
    }
    &__body p{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #222428;
        width: 80%;
    }
    &__img{
        height: 36px;
        width: 36px;
        position: absolute;
        bottom: 0px;
    }
    &__time{
        position: absolute;
        bottom: 10px;
        right: 15px;
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.428571px;

color: #9BA0AD;
    }
    &__date p{
        text-align: center; 
        font-family: $exo2;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        opacity: 0.5;
        padding-top: 3%;
        padding-bottom: 2%;
    }
}
.send{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(153, 163, 174, 0.146541);
    display: flex;
    height: 10%;

    &__input{
        border: none;
        outline: none;
        width: 75%;
        padding-left: 20px;
        padding-top:28px;
        font-family: $roboto;
        color: #81aef3;
        resize: none; 

        &::placeholder{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(218, 218, 218, 0.363);
            mix-blend-mode: normal;
            padding-left: 10px; 
        }
    }
    &__msg{
        box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.259256);
        border-radius: 7px;
        width: 36px;
        height: 36px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #fff;
    }
    &__img{
        display: flex;
        width:25%;
        justify-content: space-evenly;
        align-items: center;
        & .send__msg:hover{
            cursor: pointer;
        }
    }
}
